# IntelliJ Platform Gradle Plugin
build/
.gradle/

# IntelliJ IDEA
.idea/
*.iws
*.iml
out/

# Mac
.DS_Store

# .NET
bin/
obj/
/packages/
/_ReSharper.Caches/
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradle-8.7-bin.zip
/gradle-8.7/
